.parent {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.title {
    font-size: 1em;
    line-height: 22px;
    color: #1D2628;
}

.authCheck {
    height: 14px;
    width: 14px;
}

.school {
    position: relative;
}